<h1>Your Groups</h1>

<button class="button is-primary is-rounded"><%= link_to 'My Profile', user_path(current_user) %></button>
<button class="button is-primary is-rounded"><%= link_to 'New Group', new_group_path %></button>

<%= render 'group' %>
