<div class="has-text-centered">
  <figure class="image is-128x128 is-inline-block mb-0"><%= gravatar_for current_user %></figure>
  <h2 class="title is-2 has-text-primary">Welcome <%= current_user.username %> </h2>
  <h3 class="title is-3 has-text-info">Summary</h3>
</div>


<%= render 'summary' %>
