$primary: #3778c2;
$success: #5fb523;
$table-row-hover-background-color: $primary;

@import "bulma";

html,
body {
  font-family: "Questrial", sans-serif;
  font-size: 14px;
  font-weight: 300;
  background-color: #f1f3f2;
}

.hero.is-success {
  background: #f2f6fa;
}

.hero .nav,
.hero.is-success .nav {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.box {
  margin-top: 5rem;
}

.avatar {
  margin-top: -70px;
  padding-bottom: 20px;
}

.avatar img {
  padding: 5px;
  background: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1),
    0 0 0 1px rgba(10, 10, 10, 0.1);
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}

input {
  font-weight: 300;
}

p {
  font-weight: 700;
}

p.subtitle {
  padding-top: 1rem;
}

.login-hr {
  border-bottom: 1px solid black;
}

.has-text-black {
  color: black;
}

.field {
  padding-bottom: 10px;
}

.fa {
  margin-left: 5px;
}

.or {
  margin: 1em 0;
  font-size: 1rem !important;
}

.logo-img {
  max-height: 2.5rem !important;
}

.expense-logo {
  width: 20%;
}

.add-new {
  display: flex;
  justify-content: center;
  height: 5em;
  background-color: #5fb523 !important;

  .add-new-link {
    align-self: center;
    border: 1px solid white;
    border-radius: 4px;
    padding: 0.6rem 7rem;
    font-size: 1.2rem;
    color: white;
  }
}

.total {
  font-size: 1.2rem;
  border-radius: 0 !important;
}

table {
  background-color: $success !important;
  color: white !important;

  > * {
    color: white;
  }

  a {
    color: white;
  }

  th {
    color: white !important;
  }
}

.expense-column:last-of-type {
  margin-bottom: 5em;
}
