<div class="columns is-multiline">
  <% obj.each do |expense| %>
    <div class="column is-one-quarter">
      <div class="box mt-0">
        <article class="media">
          <figure class="media-left ml-0 mr-4 mb-0 expense-logo">
              <%= expense_image(expense.id) %>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <%= expense.name%> <br>
                <time datetime="2016-1-1" class="has-text-weight-light is-italic">Created <%= time_ago_in_words(expense.created_at)%> ago</time>
              </p>
            </div>
          </div>
          <div class="media-right">
            <p class="subtitle"><%= number_to_currency(expense.amount) %></p>
          </div>
        </article>
      </div>
    </div>
  <% end %>
</div>