<div class="columns is-multiline">
  <% obj.each do |expense| %>
    <div class="column is-one-quarter">
      <article class="media">
        <figure class="media-left">
          <p class="image is-48x48">
            <%= expense_image(expense.id, class: "is-rounded") %>
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <%= expense.name%> <br>
              <time datetime="2016-1-1">Created <%= time_ago_in_words(expense.created_at)%> ago</time>
            </p>
          </div>
        </div>
        <div class="media-right">
          <p class="subtitle"><%= expense.amount %></p>
        </div>
      </article>
    </div>
  <% end %>
</div>