<h2>All Expenses</h2>

<button class="button is-primary is-rounded mb-4"><%= link_to 'Create new expense', new_expense_path, class: "has-text-white" %></button>

<%= render 'shared/total' %>

<%= render 'expense', obj: @expenses %>