<h2>All External Expenses</h2>

<button class="button is-primary is-rounded"><%= link_to 'Create new expense', new_expense_path %></button>

<%= render 'shared/total' %>

<%= render 'expense', obj: @expenses %>